<mat-tab-group>
  <mat-tab label="1 comanda">bolishie vareniki </mat-tab>
  <mat-tab label="2 comanda">srednie vareniki</mat-tab>
  <mat-tab label="3 comanda"> malenikie vareniki</mat-tab>
</mat-tab-group>

<br>
<mat-slider>
  <input matSliderThumb>
</mat-slider>



<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">first</mat-button-toggle>
  <mat-button-toggle value="italic">second</mat-button-toggle>
  <mat-button-toggle value="underline">thirst</mat-button-toggle>
</mat-button-toggle-group>
