<!-- Toolbar -->
<div class="app-component">


  <div>
    <!--  <span>Welcome</span>-->
    <!--  &lt;!&ndash;  <span style="margin-left: 50px;" (click)="onRegister()">Registration</span>&ndash;&gt;-->
    <!--  <span style="margin-left: 70px;" (click)="onAbout()">About</span>-->
    <!--  <span style="margin-left: 70px;" (click)="onTraining()">Training</span>-->
    <!--  <span style="margin-left: 70px;" (click)="onCompetitions()">Competitions</span>-->
    <!--  <span style="margin-left: 70px;" (click)="onCar()">Car</span>-->

<!--<div class="flex"><img
  width="40"
  alt="Volley Logo"
  src="favicon.ico"
/></div>-->
    <nav class="eng">

      <a class="nike" routerLink="/about">Главная</a>
      <a class="nike" routerLink="/training">Видео и Фото</a>
      <a class="nike" routerLink="/page">Папка</a>
      <a class="nike" routerLink="/login">Регистрация</a>
      <a class="nike" routerLink="/shop">Магазин</a>
      <a class="nike" routerLink="/lessons">Lessons</a>
      <a class="nike" routerLink="/tabs">Tabs</a>
      <a href="shop"><img src="/assets/img/cart.jpg"></a>
      <br><div class="number" style="background-color: #4343ff"> <a href="#"><img src="/assets/img/phone.jpg"   ></a>+37379332373</div>




    </nav>


  </div>

  <div class="content">


    <router-outlet></router-outlet>


  </div>
</div>
