.block{
background-color: cornflowerblue;
 height: 100vh;


  text-align: center;
}
.eng{
  text-align: center;
}
.nike{
  padding: 10px; margin: 20px 0;
  color: black;
  text-shadow:
    -1px -1px 1px silver,
    1px -1px 1px silver;
  text-transform: capitalize;
}
