// .lessons-component {
//   .tablet {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     border: 5px solid black;
//     padding: 20px;
//     font-size: 50px;
//   }

//   .h1 {
//     align-content: center;
//   }
// }
.table2{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.table{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shedules{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.teams{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
section {
    display: table;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

.hollyday{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

  .shedules2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

.example-card {
  max-width: 400px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}
