<div class="delete-member-modal">
  <h2 mat-dialog-title>Удалить расписание</h2>
  <mat-dialog-content>
    Вы действительно хотите удалить команду - {{data.data.name}} и года - {{data.data.age}} ?

    <div class="form-element">
      <button mat-raised-button color="primary" type="button" class="button" (click)="deleteMember(data.data.id)">Удалить</button>
      <button mat-raised-button color="danger" type="button" class="button" (click)="closeWindow()">Отмена</button>

    </div>

  </mat-dialog-content>
</div>

